@model Cine_Ma.ViewModels.Rooms.CinemaRoomViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["ActiveMenu"] = "Cinema";
    ViewData["Title"] = "Criar Sala";
}

<h1 class="texto">Criar Sala</h1>
<hr />

<div class="row">
    <form asp-action="Create" asp-controller="Room" class="form-padrao">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input type="hidden" asp-for="CinemaId" />

        <div class="row g-3 mb-3">
            <div class="form-group col-md-4">
                <label asp-for="RoomNumber" class="control-label texto">Número da Sala</label>
                <input asp-for="RoomNumber" class="form-control inputs-padrao" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="TotalRows" class="control-label texto">Quantidade de Fileiras</label>
                <input asp-for="TotalRows" class="form-control inputs-padrao" type="number" />
                <span asp-validation-for="TotalRows" class="text-danger"></span>
            </div>

            <div class="form-group col-md-4">
                <label asp-for="TotalColumns" class="control-label texto">Assentos por Fileira</label>
                <input asp-for="TotalColumns" class="form-control inputs-padrao" type="number" />
                <span asp-validation-for="TotalColumns" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group col-md-12 mt-3">
            <label class="control-label texto">Fileiras VIP</label>
            <select asp-for="VipRows" class="form-control inputs-padrao" multiple>
                @{
                    for (int r = 1; r <= Model.TotalRows; r++)
                    {
                        string rowLetter = ((char)('A' + (r - 1))).ToString();
                        <option value="@rowLetter">@rowLetter</option>
                    }
                }
            </select>
            <small class="text-white">Segure CTRL para selecionar mais de uma fileira</small>
        </div>

        <div class="form-group">
            <a asp-controller="Cinema" asp-action="IndexAdmin"
               class="btn btn-purple float-end ms-2 texto">Voltar</a>

            <input type="submit" value="Criar"
                   class="btn btn-red float-end texto" />
        </div>
    </form>
</div>
